{{template "header"}}
<body>
    
    <div id="container">

         <nav class = "sidebarContainer">

            <ul class = "sidebar">
                <div class="profile">
                    <div class="ico"></div>
                    <div class="clearfix"></div>
                </div>

                <li><a href="/" >Start</a></li>
                    <li><a href="/new/adduser" ">Załóż konto</a></li>
                    <li><a href="/new/login" >Logowanie</a></li>

            </ul>

        </nav>


        <div class="user">
            <h1>Nowy użytkownik</h1>
            <form method="post" action="/user/create">

                <input type="text" name="email" placeholder="Podaj email"/>
                <input type="text" name="user" placeholder="Podaj nazwa użytkownika"/>
                <input type="password" name="password" placeholder="Podaj hasło"/>

                
                <button type="submit">Nowy</button>
            </form>
        
        </div>
    
    </div>
    
</body>

</html>
