{{define "index"}}<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
    <meta charset="utf-8"/>
    <link href="public/style/style.css" rel="stylesheet" type="text/css">
    <link href="public/style/addUser.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
</head>
<body>
    {{if .LoggedIn}}
        <a href="/user/logout"><p class="loginbtn">Wyloguj się</p></a>
        <p>{{.UserName}}</p>
    {{else}}
        <a href="/new/login"><p  class="loginbtn">Logowanie</p></a>
        <a href="/new/adduser"><p  class="loginbtn">Załóż konto</p></a>
    {{end}}
    <div id="container">
        <h1>Welcome</h1>

    </div>
    
</body>

</html>
{{end}}