{{define "index"}}<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
    <meta charset="utf-8"/>
    <link href="public/style/style.css" rel="stylesheet" type="text/css">
    <link href="public/style/addUser.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
</head>
<body>
    
    <div id="container">
        <h1>Welcome</h1>
    
    </div>
    
</body>

</html>
{{end}}