<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
    <meta charset="utf-8"/>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/addUser.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
</head>
<body>
    
    <div id="container">
        <div class="user">
            <h1>Logowanie</h1>
            <form method="post">
                
                <input type="text" name="user" placeholder="Podaj nazwa użytkownika"/>
                <input type="password" name="password" placeholder="Podaj hasło"/>
                
                
                <button type="submit">Login</button>
            </form>
        
        </div>
    
    </div>
    
</body>

</html>