
<!DOCTYPE html>
<html>
<head>
    <title>Dodaj Kategorię</title>
    <meta charset="utf-8"/>
    <link href="../public/style/style.css" rel="stylesheet" type="text/css">
    <link href="../public/style/addUser.css" rel="stylesheet" type="text/css">
    <link href="../public/style/table.css" rel="stylesheet" type="text/css">
    <link href="../public/style/summary.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
</head>
<body>
    
    <div id="container">

         <nav class = "sidebarContainer">

            <ul class = "sidebar">
                <div class="profile">
                    <div class="ico"></div>
                    <div class="profileName"><p>{{.UserName}}</p></div>
                    <div class="clearfix"></div>
                </div>

                <li><a href="/" class="siede-link">Start</a></li>
                    <li><a href="/new/expense" class="siede-link">Wydatki</a></li>
                    <li><a href="/new/category" class="siede-link">Kategoria</a></li>
                    <li><a href="/" class="siede-link">Podsumowanie</a></li>
                    <li><a href="/user/logout" class="siede-link">Wyloguj się</a></li>

            </ul>

         </nav>
         <div id="form-group">

            <form method="post" action="/expense/create">
                <table>
                    <thead>
                        <tr class="none-border">
                            <th>Kategoria</th>
                            <th>Kwota</th>
                            <th>Opis</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <select name="category">
                                    {{range .Categories}}
                                    <option>{{.Name}}</option>
                                    {{end}}
                                </select>
                            </td>
                            <td><input type="text" name="amount"/></td>

                            <td><input type="text" name="desc"/></td>
                        </tr>

                         <p style = "color: red;">{{.BadNumberFormat}}</p>

                    </tbody>

                </table>
                    <button type="submit">Zapisz</button>
            </form>

        </div>

        {{range .Expenses}}
            <p>{{.Category}}</p>
            <p>{{.Amount}}</p>
        {{end}}

    </div>
    
</body>

</html>
