<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <link href="../public/style/style.css" rel="stylesheet" type="text/css">
    <link href="../public/style/addUser.css" rel="stylesheet" type="text/css">
    <link href="../public/style/clock.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>

<div id="container">

    <div class="sidebarContainer">

        <ul class="sidebar">
            <div class="profile">
                <div class="ico"></div>
                <div class="clearfix"></div>
            </div>

            <li><a href="/">Start</a></li>
            <li><a href="/new/login">Logowanie</a></li>

        </ul>

    </div>


    <div class="user usr">
        <h1>Nowy użytkownik</h1>
        <form method="post" action="/user/create">

            <input type="text" name="email" placeholder="Podaj email"/>
            <input type="text" name="user" placeholder="Podaj nazwa użytkownika"/>
            <input type="password" name="password" placeholder="Podaj hasło"/>


            <button type="submit">Nowy</button>
        </form>

    </div>

</div>

</body>

</html>
