{{define "all"}}
<!DOCTYPE html>
<html>
<head>
    <title>Podsumowanie</title>
    <meta charset="utf-8"/>
    <link href="public/style/style.css" rel="stylesheet" type="text/css">
    <link href="public/style/summary.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
</head>
<body>
    
    <div id="container">
        <div id="form-group">
        
                <table>
                    <thead>
                        <tr >
                            <th>Id</th>
                            <th>Kategoria</th>
                            <th>Okres</th>
                            <th>Suma</th>
                            
                        
                        </tr>
                    </thead>        
                
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Chemia</td>
                            <td>Grudzień</td>
                            <td>100.0</td>
                        </tr>
                         <tr>
                            <td>2</td>
                            <td>Chemia</td>
                            <td>Grudzień</td>
                            <td>100.0</td>
                        </tr>
                         <tr>
                            <td>3</td>
                            <td>Chemia</td>
                            <td>Grudzień</td>
                            <td>100.0</td>
                        </tr>
                         <tr>
                            <td>1</td>
                            <td>Chemia</td>
                            <td>Grudzień</td>
                            <td>100.0</td>
                        </tr>
                         <tr>
                            <td>2</td>
                            <td>Chemia</td>
                            <td>Grudzień</td>
                            <td>100.0</td>
                        </tr>
                         <tr>
                            <td>3</td>
                            <td>Chemia</td>
                            <td>Grudzień</td>
                            <td>100.0</td>
                        </tr>
                        
                    
                    
                    </tbody>
                
                </table>
                
        
        </div>
    
    </div>
    
</body>

</html>
{{end}}